@{
    ViewData["Title"] = "Pagina Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Bem-vindo à Loja do Game Hub!</h1>
    <p>Aqui você encontrará os melhores jogos para todas as plataformas. Explore nossa seleção e aproveite as ofertas exclusivas para nossos usuários.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/game1.jpg" class="card-img-top" alt="Jogo 1">
                <div class="card-body">
                    <h5 class="card-title">
                        Jogo Incrível 1
                    </h5>
                    <p class="card-text">Um jogo de ação e aventura que vai te prender do início ao fim.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted
                              R$ 199,99
                        </span>
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            Comprar
</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/game2.jpg" class="card-img-top" alt="Jogo 2">
                <div class="card-body">
                    <h5 class="card-title">
                        
